<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <bean id="contentThreadPool" class="im.practice.ioc.ContentThreadPool" scope="prototype">

    </bean>
	<bean id="oneInterface" class="im.practice.ioc.OneInterfaceImpl">
        <property name="contentThreadPool" ref="contentThreadPool" />
    </bean>
    <bean id="oneInterface2" class="im.practice.ioc.OneInterfaceImpl2">
        <property name="contentThreadPool" ref="contentThreadPool" />
    </bean>
	
 </beans>
